*.txt
!README.md
__pycache__/
*.png
*/settings.py
*.pyc
.env
db.sqlite3
*.egg-info/
*.crt
*.key
*.pem

birdapp_backend/localhost+2.pem
birdapp_backend/localhost+2-key.pem
birdapp_backend/*.pem
atlas_open_data_files/